<div class="row">
    <div _ngcontent-c10="" class="col-md-4">
      <div _ngcontent-c10="" class="panel panel-default" id="panel-saldo">
        <div _ngcontent-c10="" class="panel-heading">
          <div _ngcontent-c10="" class="pull-right" dropdown="">
            <button _ngcontent-c10="" aria-haspopup="true" class="btn btn-green btn-sm btn-saldo" type="button">43</button>
          </div>
          <div _ngcontent-c10="" class="panel-title"><h3 _ngcontent-c10="">Saldo actual </h3></div>
        </div>
        <div _ngcontent-c10="" class="panel-body">
          <div _ngcontent-c10="" class="section-copy">
            <p _ngcontent-c10=""><strong _ngcontent-c10="">Referencia: 4424</strong></p>
            <p _ngcontent-c10=""><strong _ngcontent-c10="">GARO TECNOLOGICS, S.A. DE C.V.  </strong></p>
            <p _ngcontent-c10=""><strong _ngcontent-c10="">GTE130910LU4</strong></p>
            <p _ngcontent-c10=""><strong _ngcontent-c10="">BANORTE - 0202391430</strong></p>
            <p _ngcontent-c10=""><strong _ngcontent-c10="">CLABE - 072090002023914300</strong></p>
            <p _ngcontent-c10="" style="font-size: 12px"><span _ngcontent-c10="" class="badge bg-gray-dark">PRESIONA AQUI PARA COPIAR DATOS</span></p>
          </div>
            <div _ngcontent-c10="" class="form-container">
              <div _ngcontent-c10="" class="form-group has-feedback col-md-12">
                <div _ngcontent-c10="" class="hide">
                  <input _ngcontent-c10="" type="file">
                </div>

                <label _ngcontent-c10="" for="">Comprobante de pago</label>
                <input _ngcontent-c10="" class="form-control click ng-untouched ng-pristine ng-invalid" name="nombreReciboPago" placeholder="Escoger archivo" required="" type="text">
                <span _ngcontent-c10="" class="icon-folder form-control-feedback text-muted click"></span>
              </div>
              <div _ngcontent-c10="" class="col-md-6">
                <label _ngcontent-c10="">Fecha</label>
                <my-date-picker _ngcontent-c10="" required="" class="ng-untouched ng-pristine ng-valid"><div class="mydp" style="width: 100%;"><!----><div class="selectiongroup"><!----><input autocomplete="off" autocorrect="off" class="selection ng-untouched ng-pristine ng-valid" ngtype="text" spellcheck="false" aria-label="Date input field" placeholder="aaaa-mm-dd" style="height: 34px; font-size: 14px;"><div class="selbtngroup" style="height: 34px;"><!----> <!----> <!----><button class="btnclear btnclearenabled" type="button" aria-label="Clear Date"><span class="mydpicon icon-mydpremove"></span></button> <button class="btnpicker btnpickerenabled" type="button" aria-label="Open Calendar"><span class="mydpicon icon-mydpcalendar"></span></button></div></div><!----></div></my-date-picker>

              </div>
              <div _ngcontent-c10="" class="col-md-6 form-group">
                <label _ngcontent-c10="" for="">Monto</label>
                <input _ngcontent-c10="" class="form-control ng-untouched ng-pristine ng-valid" type="text">
              </div>
            </div>
            <div _ngcontent-c10="" class="col-md-12">
              <button _ngcontent-c10="" class="btn btn-green btn-reportar "><span _ngcontent-c10="" class="fa fa-paper-plane" style="margin-right: 10px;"></span>Reportar pago </button>
            </div>
        </div>
      </div>
    </div>
</div>