<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Dashboard" />
    <meta
      name="keyword"
      content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina"
    />
    <title>SIE - Dashboard</title>

    <!-- Favicons -->
    <link href="../img/SIELOGO.png" rel="icon" />
    <link href="../img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Bootstrap core CSS -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--external css-->
    <link href="../lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/zabuto_calendar.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../lib/gritter/css/jquery.gritter.css"
    />
    <!-- Custom styles for this template -->
    <link href="../css/style.css" rel="stylesheet" />
    <link href="../css/style-responsive.css" rel="stylesheet" />
    <script src="../lib/chart-master/Chart.js"></script>
  </head>

  <body>
    <section id="container">
      <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div
            class="fa fa-bars tooltips"
            data-placement="right"
            data-original-title="Toggle Navigation"
          ></div>
        </div>
        <!--logo start-->
        <a href="../index" class="logo"
          ><b>SIE<span>.</span></b></a
        >
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
          <!--  notification start -->
          <ul class="nav top-menu">
            <!-- settings start -->
            <li class="dropdown">
              <a
                data-toggle="dropdown"
                class="dropdown-toggle"
                href="../index#"
              >
                <i class="fa fa-tasks"></i>
                <span class="badge bg-theme">4</span>
              </a>
              <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 4 pending tasks</p>
                </li>
                <li>
                  <a href="../index#">
                    <div class="task-info">
                      <div class="desc">Dashio Admin Panel</div>
                      <div class="percent">40%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div
                        class="progress-bar progress-bar-success"
                        role="progressbar"
                        aria-valuenow="40"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 40%"
                      >
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <div class="task-info">
                      <div class="desc">Database Update</div>
                      <div class="percent">60%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div
                        class="progress-bar progress-bar-warning"
                        role="progressbar"
                        aria-valuenow="60"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 60%"
                      >
                        <span class="sr-only">60% Complete (warning)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <div class="task-info">
                      <div class="desc">Product Development</div>
                      <div class="percent">80%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div
                        class="progress-bar progress-bar-info"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 80%"
                      >
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <div class="task-info">
                      <div class="desc">Payments Sent</div>
                      <div class="percent">70%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 70%"
                      >
                        <span class="sr-only">70% Complete (Important)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="external">
                  <a href="#">See All Tasks</a>
                </li>
              </ul>
            </li>
            <!-- settings end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
              <a
                data-toggle="dropdown"
                class="dropdown-toggle"
                href="../index#"
              >
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-theme">5</span>
              </a>
              <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 5 new messages</p>
                </li>
                <li>
                  <a href="../index#">
                    <span class="photo"
                      ><img alt="avatar" src="../img/ui-zac.jpg"
                    /></span>
                    <span class="subject">
                      <span class="from">Zac Snider</span>
                      <span class="time">Just now</span>
                    </span>
                    <span class="message"> Hi mate, how is everything? </span>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <span class="photo"
                      ><img alt="avatar" src="../img/ui-divya.jpg"
                    /></span>
                    <span class="subject">
                      <span class="from">Divya Manian</span>
                      <span class="time">40 mins.</span>
                    </span>
                    <span class="message">
                      Hi, I need your help with this.
                    </span>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <span class="photo"
                      ><img alt="avatar" src="../img/ui-danro.jpg"
                    /></span>
                    <span class="subject">
                      <span class="from">Dan Rogers</span>
                      <span class="time">2 hrs.</span>
                    </span>
                    <span class="message"> Love your new Dashboard. </span>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <span class="photo"
                      ><img alt="avatar" src="../img/ui-sherman.jpg"
                    /></span>
                    <span class="subject">
                      <span class="from">Dj Sherman</span>
                      <span class="time">4 hrs.</span>
                    </span>
                    <span class="message"> Please, answer asap. </span>
                  </a>
                </li>
                <li>
                  <a href="../index#">See all messages</a>
                </li>
              </ul>
            </li>
            <!-- inbox dropdown end -->
            <!-- notification dropdown start-->
            <li id="header_notification_bar" class="dropdown">
              <a
                data-toggle="dropdown"
                class="dropdown-toggle"
                href="../index#"
              >
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">7</span>
              </a>
              <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                  <p class="yellow">You have 7 new notifications</p>
                </li>
                <li>
                  <a href="../index#">
                    <span class="label label-danger"
                      ><i class="fa fa-bolt"></i
                    ></span>
                    Server Overloaded.
                    <span class="small italic">4 mins.</span>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <span class="label label-warning"
                      ><i class="fa fa-bell"></i
                    ></span>
                    Memory #2 Not Responding.
                    <span class="small italic">30 mins.</span>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <span class="label label-danger"
                      ><i class="fa fa-bolt"></i
                    ></span>
                    Disk Space Reached 85%.
                    <span class="small italic">2 hrs.</span>
                  </a>
                </li>
                <li>
                  <a href="../index#">
                    <span class="label label-success"
                      ><i class="fa fa-plus"></i
                    ></span>
                    New User Registered.
                    <span class="small italic">3 hrs.</span>
                  </a>
                </li>
                <li>
                  <a href="../index#">See all notifications</a>
                </li>
              </ul>
            </li>
            <!-- notification dropdown end -->
          </ul>
          <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" href="../auth/login">Logout</a></li>
          </ul>
        </div>
      </header>
      <!--header end-->
      <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered">
              <a href="profile"
                ><img src="../img/logo2.jpg" class="img-circle" width="80"
              /></a>
            </p>
            <h5 class="centered">SIE</h5>
            <li class="mt">
              <div class="row">
                <a class="col-xs-9" href="../index">
                  <i class="fa fa-dashboard"></i>
                  <span>Dashboard</span>
                </a>
              </div>
            </li>
            <li>
              <div class="row">
                <a class="col-xs-9" href="./index">
                  <i class="fa fa-file-code-o"></i>
                  <span>Facturación </span>
                </a>
                <a class="active col-xs-3" href="./add"
                  ><i class="fa fa-plus-circle"></i
                ></a>
              </div>
            </li>

            <li>
              <div class="row">
                <a class="col-xs-9" href="../retencion/index">
                  <i class="fa fa-file-text-o"></i>
                  <span>Retención </span>
                </a>
                <a class="col-xs-3" href="../retencion/add"
                  ><i class="fa fa-plus-circle"></i
                ></a>
              </div>
            </li>

            <li>
              <div class="row">
                <a class="col-xs-9" href="../empresas/index">
                  <i class="fa fa-users"></i>
                  <span>Empresas </span>
                </a>
                <a class="col-xs-3" href="../empresas/add"
                  ><i class="fa fa-plus-circle"></i
                ></a>
              </div>
            </li>
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>UI Elements</span>
              </a>
              <ul class="sub">
                <li><a href="general">General</a></li>
                <li><a href="buttons">Buttons</a></li>
                <li><a href="panels">Panels</a></li>
                <li><a href="font_awesome">Font Awesome</a></li>
              </ul>
            </li> -->
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-cogs"></i>
                <span>Components</span>
              </a>
              <ul class="sub">
                <li><a href="grids">Grids</a></li>
                <li><a href="calendar">Calendar</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="todo_list">Todo List</a></li>
                <li><a href="dropzone">Dropzone File Upload</a></li>
                <li><a href="inline_editor">Inline Editor</a></li>
                <li><a href="file_upload">Multiple File Upload</a></li>
              </ul>
            </li> -->
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-book"></i>
                <span>Extra Pages</span>
              </a>
              <ul class="sub">
                <li><a href="blank">Blank Page</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="lock_screen">Lock Screen</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="invoice">Invoice</a></li>
                <li><a href="pricing_table">Pricing Table</a></li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="404">404 Error</a></li>
                <li><a href="500">500 Error</a></li>
              </ul>
            </li> -->
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>Forms</span>
              </a>
              <ul class="sub">
                <li><a href="form_component">Form Components</a></li>
                <li>
                  <a href="advanced_form_components"
                    >Advanced Components</a
                  >
                </li>
                <li><a href="form_validation">Form Validation</a></li>
                <li><a href="contactform">Contact Form</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-th"></i>
                <span>Data Tables</span>
              </a>
              <ul class="sub">
                <li><a href="basic_table">Basic Table</a></li>
                <li><a href="responsive_table">Responsive Table</a></li>
                <li><a href="advanced_table">Advanced Table</a></li>
              </ul>
            </li> -->
            <li>
              <a href="../inbox">
                <i class="fa fa-envelope"></i>
                <span>Mail </span>
                <span class="label label-theme pull-right mail-info">2</span>
              </a>
            </li>
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-bar-chart-o"></i>
                <span>Charts</span>
              </a>
              <ul class="sub">
                <li><a href="morris.html">Morris</a></li>
                <li><a href="chartjs.html">Chartjs</a></li>
                <li><a href="flot_chart.html">Flot Charts</a></li>
                <li><a href="xchart.html">xChart</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-comments-o"></i>
                <span>Chat Room</span>
              </a>
              <ul class="sub">
                <li><a href="lobby.html">Lobby</a></li>
                <li><a href="chat_room.html"> Chat Room</a></li>
              </ul>
            </li>
            <li>
              <a href="google_maps.html">
                <i class="fa fa-map-marker"></i>
                <span>Google Maps </span>
              </a>
            </li> -->
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->
      <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="content-wrapper">
            <div class="content-wrapper">
              <router-outlet></router-outlet>
              <app-addfactura class="ng-tns-c11-4">
                <!---->
                <div class="ng-tns-c11-4">
                  <div class="content-heading">
                    Factura
                    <!----><span class="pull-right ng-tns-c11-4"
                      >Nuevo
                      <em class="fa fa-star"></em>
                    </span>
                  </div>
                  <!---->
                  <form
                    novalidate=""
                    class="ng-tns-c11-4 ng-untouched ng-pristine ng-invalid"
                  >
                    <div class="col-md-12 col-lg-5 noPadding">
                      <div class="panel panel-default">
                        <h4 class="page-header col-md-12">Factura</h4>
                        <div class="panel-body">
                          <!---->
                          <div
                            class="adaptableWidth form-group col-xs-12 col-sm-12 col-md-12"
                          >
                            <label class="ng-tns-c11-4" for="">Serie</label>
                            <div class="input-group">
                              <ng-select
                                class="ng-tns-c11-4"
                                placeholder="Sin serie"
                                _nghost-c12=""
                              >
                                <!---->
                                <div
                                  _ngcontent-c12=""
                                  class="ui-select-container dropdown open"
                                  tabindex="0"
                                >
                                  <div _ngcontent-c12=""></div>
                                  <!---->
                                  <div
                                    _ngcontent-c12=""
                                    class="ui-select-match"
                                  >
                                    <span
                                      _ngcontent-c12=""
                                      class="btn btn-default btn-secondary form-control ui-select-toggle"
                                      style="outline: 0"
                                      tabindex="-1"
                                    >
                                      <!---->
                                      <!----><span
                                        _ngcontent-c12=""
                                        class="ui-select-match-text pull-left ui-select-allow-clear"
                                      >
                                        - Factura</span
                                      >
                                      <i
                                        _ngcontent-c12=""
                                        class="dropdown-toggle pull-right"
                                      ></i>
                                      <i
                                        _ngcontent-c12=""
                                        class="caret pull-right"
                                      ></i>
                                      <!----><a
                                        _ngcontent-c12=""
                                        class="btn btn-xs btn-link pull-right"
                                        style="margin-right: 10px; padding: 0"
                                      >
                                        <i
                                          _ngcontent-c12=""
                                          class="glyphicon glyphicon-remove"
                                        ></i>
                                      </a>
                                    </span>
                                  </div>
                                  <!---->

                                  <!---->

                                  <!---->
                                </div>

                                <!---->
                              </ng-select>
                              <!-- <span class="input-group-addon fa fa-plus-circle" id="basic-addon2" style="cursor:pointer"></span> -->
                              <!---->
                            </div>
                          </div>

                          <div class="form-group col-xs-12 col-md-6">
                            <label class="ng-tns-c11-4">Fecha </label>

                            <input
                              class="form-control ng-untouched ng-pristine ng-valid"
                              formcontrolname="fecha"
                              type="date"
                            />
                          </div>
                          <div class="form-group col-xs-12 col-md-6">
                            <label class="ng-tns-c11-4" for="">Hora</label>
                            <input
                              class="form-control ng-untouched ng-pristine ng-valid"
                              formcontrolname="hora"
                              id="time"
                              type="time"
                            />
                          </div>

                          <div
                            class="form-group col-xs-12 col-sm-12 col-md-12 customSelect clienteContainer"
                          >
                            <label class="ng-tns-c11-4" for="">Cliente</label>
                            <!---->

                            <div class="input-group">
                              <input
                                class="form-control ng-untouched ng-pristine ng-valid"
                                formcontrolname="clienteId_text"
                                placeholder="Escribe para buscar"
                                type="text"
                              />
                              <!-- <span class="input-group-addon fa fa-plus-circle" id="basic-addon2" style="cursor:pointer"></span> -->
                            </div>
                            <!---->
                            <!---->
                          </div>

                          <!---->
                          <div class="form-group col-xs-12 col-md-12">
                            <label class="ng-tns-c11-4" for=""
                              >Forma de pago</label
                            >
                            <ng-select
                              class="ng-tns-c11-4"
                              placeholder="Sin forma de pago"
                              _nghost-c12=""
                            >
                              <!---->
                              <div
                                _ngcontent-c12=""
                                class="ui-select-container dropdown open"
                                tabindex="0"
                              >
                                <div _ngcontent-c12=""></div>
                                <!---->
                                <div _ngcontent-c12="" class="ui-select-match">
                                  <span
                                    _ngcontent-c12=""
                                    class="btn btn-default btn-secondary form-control ui-select-toggle"
                                    style="outline: 0"
                                    tabindex="-1"
                                  >
                                    <!---->
                                    <!----><span
                                      _ngcontent-c12=""
                                      class="ui-select-match-text pull-left ui-select-allow-clear"
                                      >99 - Por definir</span
                                    >
                                    <i
                                      _ngcontent-c12=""
                                      class="dropdown-toggle pull-right"
                                    ></i>
                                    <i
                                      _ngcontent-c12=""
                                      class="caret pull-right"
                                    ></i>
                                    <!----><a
                                      _ngcontent-c12=""
                                      class="btn btn-xs btn-link pull-right"
                                      style="margin-right: 10px; padding: 0"
                                    >
                                      <i
                                        _ngcontent-c12=""
                                        class="glyphicon glyphicon-remove"
                                      ></i>
                                    </a>
                                  </span>
                                </div>
                                <!---->

                                <!---->

                                <!---->
                              </div>

                              <!---->
                            </ng-select>
                          </div>

                          <div class="form-group col-xs-12 col-md-12">
                            <label class="ng-tns-c11-4" for=""
                              >Método de pago</label
                            >
                            <ng-select
                              class="ng-tns-c11-4"
                              placeholder="Sin metodo de pago"
                              _nghost-c12=""
                            >
                              <!---->
                              <div
                                _ngcontent-c12=""
                                class="ui-select-container dropdown open"
                                tabindex="0"
                              >
                                <div _ngcontent-c12=""></div>
                                <!---->
                                <div _ngcontent-c12="" class="ui-select-match">
                                  <span
                                    _ngcontent-c12=""
                                    class="btn btn-default btn-secondary form-control ui-select-toggle"
                                    style="outline: 0"
                                    tabindex="-1"
                                  >
                                    <!---->
                                    <!----><span
                                      _ngcontent-c12=""
                                      class="ui-select-match-text pull-left ui-select-allow-clear"
                                      >PPD - Pago en parcialidades o
                                      diferido</span
                                    >
                                    <i
                                      _ngcontent-c12=""
                                      class="dropdown-toggle pull-right"
                                    ></i>
                                    <i
                                      _ngcontent-c12=""
                                      class="caret pull-right"
                                    ></i>
                                    <!----><a
                                      _ngcontent-c12=""
                                      class="btn btn-xs btn-link pull-right"
                                      style="margin-right: 10px; padding: 0"
                                    >
                                      <i
                                        _ngcontent-c12=""
                                        class="glyphicon glyphicon-remove"
                                      ></i>
                                    </a>
                                  </span>
                                </div>
                                <!---->

                                <!---->

                                <!---->
                              </div>

                              <!---->
                            </ng-select>
                          </div>
                          <!---->

                          <div class="form-group col-xs-12 col-md-8 col-sm-6">
                            <label class="ng-tns-c11-4" for=""
                              >Condiciones de pago</label
                            >
                            <input
                              class="form-control ng-untouched ng-pristine ng-valid"
                              formcontrolname="condicionesDePago_text"
                              readonly=""
                              type="text"
                            />
                          </div>

                          <div class="form-group col-xs-12 col-sm-6 col-md-4">
                            <label class="ng-tns-c11-4" for=""
                              >Días de Crédito</label
                            >
                            <input
                              class="form-control ng-untouched ng-pristine ng-valid"
                              formcontrolname="plazoCredito"
                              type="text"
                            />
                            <!----><em
                              class="fa fa-check validate-indicator ng-tns-c11-4"
                            ></em>
                            <!---->
                          </div>

                          <div class="form-group col-xs-12 col-md-12">
                            <label class="ng-tns-c11-4" for="">Moneda</label>
                            <ng-select
                              class="ng-tns-c11-4"
                              placeholder="Sin moneda"
                              _nghost-c12=""
                            >
                              <!---->
                              <div
                                _ngcontent-c12=""
                                class="ui-select-container dropdown open"
                                tabindex="0"
                              >
                                <div _ngcontent-c12=""></div>
                                <!---->
                                <div _ngcontent-c12="" class="ui-select-match">
                                  <span
                                    _ngcontent-c12=""
                                    class="btn btn-default btn-secondary form-control ui-select-toggle"
                                    style="outline: 0"
                                    tabindex="-1"
                                  >
                                    <!---->
                                    <!----><span
                                      _ngcontent-c12=""
                                      class="ui-select-match-text pull-left ui-select-allow-clear"
                                      >MXN - Peso Mexicano</span
                                    >
                                    <i
                                      _ngcontent-c12=""
                                      class="dropdown-toggle pull-right"
                                    ></i>
                                    <i
                                      _ngcontent-c12=""
                                      class="caret pull-right"
                                    ></i>
                                    <!----><a
                                      _ngcontent-c12=""
                                      class="btn btn-xs btn-link pull-right"
                                      style="margin-right: 10px; padding: 0"
                                    >
                                      <i
                                        _ngcontent-c12=""
                                        class="glyphicon glyphicon-remove"
                                      ></i>
                                    </a>
                                  </span>
                                </div>
                                <!---->

                                <!---->

                                <!---->
                              </div>

                              <!---->
                            </ng-select>
                          </div>
                          <!---->

                          <div class="form-group col-xs-12 col-md-12">
                            <label class="ng-tns-c11-4" for=""
                              >Uso de CFDI</label
                            >
                            <ng-select
                              class="ng-tns-c11-4"
                              placeholder="Sin uso de CFDI"
                              _nghost-c12=""
                            >
                              <!---->
                              <div
                                _ngcontent-c12=""
                                class="ui-select-container dropdown open"
                                tabindex="0"
                              >
                                <div _ngcontent-c12=""></div>
                                <!---->
                                <div _ngcontent-c12="" class="ui-select-match">
                                  <span
                                    _ngcontent-c12=""
                                    class="btn btn-default btn-secondary form-control ui-select-toggle"
                                    style="outline: 0"
                                    tabindex="-1"
                                  >
                                    <!---->
                                    <!----><span
                                      _ngcontent-c12=""
                                      class="ui-select-match-text pull-left ui-select-allow-clear"
                                      >P01 - Por definir</span
                                    >
                                    <i
                                      _ngcontent-c12=""
                                      class="dropdown-toggle pull-right"
                                    ></i>
                                    <i
                                      _ngcontent-c12=""
                                      class="caret pull-right"
                                    ></i>
                                    <!----><a
                                      _ngcontent-c12=""
                                      class="btn btn-xs btn-link pull-right"
                                      style="margin-right: 10px; padding: 0"
                                    >
                                      <i
                                        _ngcontent-c12=""
                                        class="glyphicon glyphicon-remove"
                                      ></i>
                                    </a>
                                  </span>
                                </div>
                                <!---->

                                <!---->

                                <!---->
                              </div>

                              <!---->
                            </ng-select>
                          </div>

                          <!---->
                          <div class="form-group col-xs-12 col-md-12">
                            <label class="ng-tns-c11-4" for=""
                              >Observaciones</label
                            >
                            <textarea
                              class="form-control ng-untouched ng-pristine ng-valid"
                              cols="30"
                              formcontrolname="observaciones"
                              id=""
                              name=""
                              rows="3"
                            ></textarea>
                          </div>
                          <div class="col-md-12 col-xs-12">
                            <div class="btn btn-green btnBlock">
                              <span class="fa fa-copy"></span>
                              <strong class="ng-tns-c11-4"
                                >VER COMPLEMENTOS
                              </strong>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12 col-lg-7 noPadding">
                      <div class="panel panel-default col-md-12">
                        <h4 class="page-header">Productos</h4>
                        <div class="panel-body">
                          <div class="buttons">
                            <!----><button
                              class="btn btn-plus ng-tns-c11-4"
                              type="button"
                            >
                              <span class="fa fa-plus"></span> Agregar producto
                            </button>
                            <!---->
                            <!---->
                            <div class="pull-right ng-tns-c11-4">
                              <button
                                class="btn btn-plus"
                                title="Cargar productos"
                                type="button"
                              >
                                <i class="fa fa-upload"></i> Cargar productos
                              </button>
                              <div class="hide">
                                <input
                                  class="ng-tns-c11-4"
                                  accept=".xls"
                                  type="file"
                                />
                              </div>
                              <a
                                class="btn btn-plus"
                                target="_blank"
                                title="Descargar formato"
                                href="https://api.kubox.mx/templates/cargar_productos_factura.xls"
                              >
                                <i class="fa fa-download"></i> Descargar formato
                              </a>
                            </div>
                          </div>

                          <div class="clearfix"></div>

                          <div class="table-responsive">
                            <table
                              class="table table-striped table-bordered table-hover"
                              id="table_productos"
                            >
                              <thead class="ng-tns-c11-4">
                                <tr class="ng-tns-c11-4">
                                  <th class="center">#</th>
                                  <th class="ng-tns-c11-4" width="70%">
                                    Concepto
                                  </th>
                                  <th class="center">Precio</th>
                                  <th class="center">Importe</th>
                                  <th class="center">Acciones</th>
                                </tr>
                              </thead>
                              <tbody class="ng-tns-c11-4">
                                <!---->
                                <tr class="ng-tns-c11-4">
                                  <td class="center">
                                    <strong class="ng-tns-c11-4">Total</strong>
                                  </td>
                                  <td class="ng-tns-c11-4"></td>
                                  <td class="center"></td>
                                  <td
                                    class="center total"
                                    colspan="2"
                                    tooltip=""
                                  >
                                    <strong class="ng-tns-c11-4"> $0.00</strong>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <!---->
                      <!---->
                      <div class="panel panel-default col-md-12">
                        <h4 class="page-header">Totales</h4>
                        <div class="panel-body">
                          <table
                            class="table table-striped table-bordered table-hover"
                            id="table_totales"
                          >
                            <thead class="ng-tns-c11-4">
                              <tr class="ng-tns-c11-4">
                                <th class="ng-tns-c11-4" width="90%">
                                  Totales
                                </th>
                                <th class="ng-tns-c11-4">Cantidad</th>
                              </tr>
                            </thead>
                            <tbody class="ng-tns-c11-4">
                              <!---->
                              <tr class="ng-tns-c11-4">
                                <td class="ng-tns-c11-4">Subtotal</td>
                                <td class="ng-tns-c11-4">$0.00</td>
                              </tr>
                              <tr class="ng-tns-c11-4">
                                <td class="ng-tns-c11-4">IVA</td>
                                <td class="ng-tns-c11-4">$0.00</td>
                              </tr>

                              <!---->

                              <!---->

                              <!---->
                              <!---->

                              <!---->
                              <!---->
                              <!---->
                              <!---->
                              <!---->
                              <!---->
                              <tr class="ng-tns-c11-4">
                                <td class="ng-tns-c11-4">TOTAL</td>
                                <td class="ng-tns-c11-4">$0.00</td>
                              </tr>
                              <!---->
                            </tbody>
                          </table>
                        </div>
                        <div class="panel-footer row">
                          <div class="buttons">
                            <!----><button
                              class="btn btn-green ng-tns-c11-4"
                              type="button"
                            >
                              <strong class="ng-tns-c11-4">
                                <span class="fa fa-save"></span> GUARDAR</strong
                              >
                            </button>
                            <!----><button
                              class="btn btn-primary ng-tns-c11-4"
                              type="button"
                            >
                              <strong class="ng-tns-c11-4"
                                ><span class="fa fa-bell"></span>
                                TIMBRAR</strong
                              >
                            </button>
                            <!---->
                            <!---->
                            <!---->
                            <!---->
                            <!----><button
                              class="btn bg-info-dark ng-tns-c11-4"
                              type="button"
                            >
                              <strong class="ng-tns-c11-4">
                                <span class="fa fa-print"></span>VISTA
                                PREVIA</strong
                              >
                            </button>
                            <!---->
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>

                  <!---->

                  <!---->
                </div>
              </app-addfactura>
            </div>
          </div>
        </section>
      </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
        <div class="text-center">
          <p>&copy; Copyrights <strong>Dashio</strong>. All Rights Reserved</p>
          <div class="credits">
            <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
            Created with Dashio template by
            <a href="https://templatemag.com/">TemplateMag</a>
          </div>
          <a href="index.html#" class="go-top">
            <i class="fa fa-angle-up"></i>
          </a>
        </div>
      </footer>
      <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../lib/jquery/jquery.min.js"></script>

    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>
    <script
      class="include"
      type="text/javascript"
      src="../lib/jquery.dcjqaccordion.2.7.js"
    ></script>
    <script src="../lib/jquery.scrollTo.min.js"></script>
    <script
      src="../lib/jquery.nicescroll.js"
      type="text/javascript"
    ></script>
    <script src="../lib/jquery.sparkline.js"></script>
    <!--common script for all pages-->
    <script src="../lib/common-scripts.js"></script>
    <script
      type="text/javascript"
      src="../lib/gritter/js/jquery.gritter.js"
    ></script>
    <script type="text/javascript" src="../lib/gritter-conf.js"></script>
    <!--script for this page-->
    <script src="../lib/sparkline-chart.js"></script>
    <script src="../lib/zabuto_calendar.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        var unique_id = $.gritter.add({});

        return false;
      });
    </script>
    <script type="application/javascript">
      $(document).ready(function () {
        $("#date-popover").popover({
          html: true,
          trigger: "manual",
        });
        $("#date-popover").hide();
        $("#date-popover").click(function (e) {
          $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
          action: function () {
            return myDateFunction(this.id, false);
          },
          action_nav: function () {
            return myNavFunction(this.id);
          },
          ajax: {
            url: "show_data.php?action=1",
            modal: true,
          },
          legend: [
            {
              type: "text",
              label: "Special event",
              badge: "00",
            },
            {
              type: "block",
              label: "Regular event",
            },
          ],
        });
      });

      function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log("nav " + nav + " to: " + to.month + "/" + to.year);
      }
    </script>
  </body>
</html>
