<!DOCTYPE html>
<html lang="en">
  <head>
    <section id="container">
      <!-- **********************************************************************************************************************************************************
        TOP BAR CONTENT & NOTIFICATIONS
        *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div
            class="fa fa-bars tooltips"
            data-placement="right"
            data-original-title="Toggle Navigation"
          ></div>
        </div>
        <!--logo start-->
        <a href="http://localhost/Dashio/index" class="logo"
          ><b>SIE<span>.</span></b></a
        >
        <!--logo end-->
        <div class="nav notify-row" id="top_menu">
          <!--  notification start -->
          <ul class="nav top-menu">
            <!-- settings start -->
            <li class="dropdown">
              <a
                data-toggle="dropdown"
                class="dropdown-toggle"
                href="http://localhost/Dashio/index#"
              >
                <i class="fa fa-tasks"></i>
                <span class="badge bg-theme">4</span>
              </a>
              <ul class="dropdown-menu extended tasks-bar">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 4 pending tasks</p>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <div class="task-info">
                      <div class="desc">Dashio Admin Panel</div>
                      <div class="percent">40%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div
                        class="progress-bar progress-bar-success"
                        role="progressbar"
                        aria-valuenow="40"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 40%"
                      >
                        <span class="sr-only">40% Complete (success)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <div class="task-info">
                      <div class="desc">Database Update</div>
                      <div class="percent">60%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div
                        class="progress-bar progress-bar-warning"
                        role="progressbar"
                        aria-valuenow="60"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 60%"
                      >
                        <span class="sr-only">60% Complete (warning)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <div class="task-info">
                      <div class="desc">Product Development</div>
                      <div class="percent">80%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div
                        class="progress-bar progress-bar-info"
                        role="progressbar"
                        aria-valuenow="80"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 80%"
                      >
                        <span class="sr-only">80% Complete</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <div class="task-info">
                      <div class="desc">Payments Sent</div>
                      <div class="percent">70%</div>
                    </div>
                    <div class="progress progress-striped">
                      <div
                        class="progress-bar progress-bar-danger"
                        role="progressbar"
                        aria-valuenow="70"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        style="width: 70%"
                      >
                        <span class="sr-only">70% Complete (Important)</span>
                      </div>
                    </div>
                  </a>
                </li>
                <li class="external">
                  <a href="#">See All Tasks</a>
                </li>
              </ul>
            </li>
            <!-- settings end -->
            <!-- inbox dropdown start-->
            <li id="header_inbox_bar" class="dropdown">
              <a
                data-toggle="dropdown"
                class="dropdown-toggle"
                href="http://localhost/Dashio/index#"
              >
                <i class="fa fa-envelope-o"></i>
                <span class="badge bg-theme">5</span>
              </a>
              <ul class="dropdown-menu extended inbox">
                <div class="notify-arrow notify-arrow-green"></div>
                <li>
                  <p class="green">You have 5 new messages</p>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <span class="photo"
                      ><img alt="avatar" src="http://localhost/Dashio/img/ui-zac.jpg"
                    /></span>
                    <span class="subject">
                      <span class="from">Zac Snider</span>
                      <span class="time">Just now</span>
                    </span>
                    <span class="message"> Hi mate, how is everything? </span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <span class="photo"
                      ><img alt="avatar" src="http://localhost/Dashio/img/ui-divya.jpg"
                    /></span>
                    <span class="subject">
                      <span class="from">Divya Manian</span>
                      <span class="time">40 mins.</span>
                    </span>
                    <span class="message">
                      Hi, I need your help with this.
                    </span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <span class="photo"
                      ><img alt="avatar" src="http://localhost/Dashio/img/ui-danro.jpg"
                    /></span>
                    <span class="subject">
                      <span class="from">Dan Rogers</span>
                      <span class="time">2 hrs.</span>
                    </span>
                    <span class="message"> Love your new Dashboard. </span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <span class="photo"
                      ><img alt="avatar" src="http://localhost/Dashio/img/ui-sherman.jpg"
                    /></span>
                    <span class="subject">
                      <span class="from">Dj Sherman</span>
                      <span class="time">4 hrs.</span>
                    </span>
                    <span class="message"> Please, answer asap. </span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">See all messages</a>
                </li>
              </ul>
            </li>
            <!-- inbox dropdown end -->
            <!-- notification dropdown start-->
            <li id="header_notification_bar" class="dropdown">
              <a
                data-toggle="dropdown"
                class="dropdown-toggle"
                href="http://localhost/Dashio/index#"
              >
                <i class="fa fa-bell-o"></i>
                <span class="badge bg-warning">7</span>
              </a>
              <ul class="dropdown-menu extended notification">
                <div class="notify-arrow notify-arrow-yellow"></div>
                <li>
                  <p class="yellow">You have 7 new notifications</p>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <span class="label label-danger"
                      ><i class="fa fa-bolt"></i
                    ></span>
                    Server Overloaded.
                    <span class="small italic">4 mins.</span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <span class="label label-warning"
                      ><i class="fa fa-bell"></i
                    ></span>
                    Memory #2 Not Responding.
                    <span class="small italic">30 mins.</span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <span class="label label-danger"
                      ><i class="fa fa-bolt"></i
                    ></span>
                    Disk Space Reached 85%.
                    <span class="small italic">2 hrs.</span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">
                    <span class="label label-success"
                      ><i class="fa fa-plus"></i
                    ></span>
                    New User Registered.
                    <span class="small italic">3 hrs.</span>
                  </a>
                </li>
                <li>
                  <a href="http://localhost/Dashio/index#">See all notifications</a>
                </li>
              </ul>
            </li>
            <!-- notification dropdown end -->
          </ul>
          <!--  notification end -->
        </div>
        <div class="top-menu">
          <ul class="nav pull-right top-menu">
            <li><a class="logout" href="../auth/login">Logout</a></li>
          </ul>
        </div>
      </header>
      <!--header end-->
      <!-- **********************************************************************************************************************************************************
        MAIN SIDEBAR MENU
        *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
        <div id="sidebar" class="nav-collapse">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion">
            <p class="centered">
              <a href="profile"
                ><img src="http://localhost/Dashio/img/logo2.jpg" class="img-circle" width="80"
              /></a>
            </p>
            <h5 class="centered">SIE</h5>
            <li class="mt">
              <div class="row">
                <a class="col-xs-9" href="http://localhost/Dashio/index">
                  <i class="fa fa-dashboard"></i>
                  <span>Dashboard</span>
                </a>
              </div>
            </li>
            <li>
              <div class="row">
                <a class="active col-xs-9" href="./index">
                  <i class="fa fa-file-code-o"></i>
                  <span>Facturación </span>
                </a>
                <a class="col-xs-3" href="./add"
                  ><i class="fa fa-plus-circle"></i
                ></a>
              </div>
            </li>

            <li>
              <div class="row">
                <a class="col-xs-9" href="../retencion/index">
                  <i class="fa fa-file-text-o"></i>
                  <span>Retención </span>
                </a>
                <a class="col-xs-3" href="../retencion/add"
                  ><i class="fa fa-plus-circle"></i
                ></a>
              </div>
            </li>

            <li>
              <div class="row">
                <a class="col-xs-9" href="../empresas/index">
                  <i class="fa fa-users"></i>
                  <span>Empresas </span>
                </a>
                <a class="col-xs-3" href="../empresas/add"
                  ><i class="fa fa-plus-circle"></i
                ></a>
              </div>
            </li>
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-desktop"></i>
                <span>UI Elements</span>
              </a>
              <ul class="sub">
                <li><a href="general">General</a></li>
                <li><a href="buttons">Buttons</a></li>
                <li><a href="panels">Panels</a></li>
                <li><a href="font_awesome">Font Awesome</a></li>
              </ul>
            </li> -->
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-cogs"></i>
                <span>Components</span>
              </a>
              <ul class="sub">
                <li><a href="grids">Grids</a></li>
                <li><a href="calendar">Calendar</a></li>
                <li><a href="gallery">Gallery</a></li>
                <li><a href="todo_list">Todo List</a></li>
                <li><a href="dropzone">Dropzone File Upload</a></li>
                <li><a href="inline_editor">Inline Editor</a></li>
                <li><a href="file_upload">Multiple File Upload</a></li>
              </ul>
            </li> -->
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-book"></i>
                <span>Extra Pages</span>
              </a>
              <ul class="sub">
                <li><a href="blank">Blank Page</a></li>
                <li><a href="login">Login</a></li>
                <li><a href="lock_screen">Lock Screen</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="invoice">Invoice</a></li>
                <li><a href="pricing_table">Pricing Table</a></li>
                <li><a href="faq">FAQ</a></li>
                <li><a href="404">404 Error</a></li>
                <li><a href="500">500 Error</a></li>
              </ul>
            </li> -->
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-tasks"></i>
                <span>Forms</span>
              </a>
              <ul class="sub">
                <li><a href="form_component">Form Components</a></li>
                <li>
                  <a href="advanced_form_components"
                    >Advanced Components</a
                  >
                </li>
                <li><a href="form_validation">Form Validation</a></li>
                <li><a href="contactform">Contact Form</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-th"></i>
                <span>Data Tables</span>
              </a>
              <ul class="sub">
                <li><a href="basic_table">Basic Table</a></li>
                <li><a href="responsive_table">Responsive Table</a></li>
                <li><a href="advanced_table">Advanced Table</a></li>
              </ul>
            </li> -->
            <!-- <li>
              <a href="http://localhost/Dashio/inbox">
                <i class="fa fa-envelope"></i>
                <span>Mail </span>
                <span class="label label-theme pull-right mail-info">2</span>
              </a>
            </li> -->
            <!-- <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-bar-chart-o"></i>
                <span>Charts</span>
              </a>
              <ul class="sub">
                <li><a href="morris">Morris</a></li>
                <li><a href="chartjs">Chartjs</a></li>
                <li><a href="flot_chart">Flot Charts</a></li>
                <li><a href="xchart">xChart</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fa fa-comments-o"></i>
                <span>Chat Room</span>
              </a>
              <ul class="sub">
                <li><a href="lobby">Lobby</a></li>
                <li><a href="chat_room"> Chat Room</a></li>
              </ul>
            </li>
            <li>
              <a href="google_maps">
                <i class="fa fa-map-marker"></i>
                <span>Google Maps </span>
              </a>
            </li> -->
          </ul>
          <!-- sidebar menu end-->
        </div>
      </aside>
      <!--sidebar end-->
      <!-- **********************************************************************************************************************************************************
        MAIN CONTENT
        *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
        <section class="wrapper">
          <div class="content-wrapper">
            <router-outlet></router-outlet>
            <app-facturas _nghost-c6="" class="">
              <div class="content-heading">
                <span>Facturación</span>
                <a
                  class="btn-new bg-green"
                  placement="left"
                  tooltip="Nueva factura"
                  route="./add"
                  href="/panel/facturas/add"
                >
                  <em class="fa fa-plus"></em>
                </a>
              </div>
              <div class="filter-container closeSidebar">
                <span class="fa fa-close closeSidebar"></span>
                <!---->
                <!---->
                <div class="animated fadeInRight sideoptions">
                  <div class="filters">
                    <div class="pull-left wd-md col-lg-2" id="dropdownOrden">
                      <label for="">Ordenar por</label>
                      <div class="btn-group mostrar-btn" dropdown="">
                        <button
                          class="btn"
                          dropdowntoggle=""
                          aria-haspopup="true"
                        >
                          <strong>Fecha</strong>
                          <b class="fa fa-caret-down"></b>
                        </button>
                        <!---->
                      </div>
                    </div>

                    <div
                      class="pull-left wd-md col-lg-3"
                      id="dropdownDireccion"
                    >
                      <label for="">Dirección</label>
                      <div class="btn-group mostrar-btn" dropdown="">
                        <button
                          class="btn"
                          dropdowntoggle=""
                          aria-haspopup="true"
                        >
                          <strong>Descendente</strong>
                          <b class="fa fa-caret-down"></b>
                        </button>
                        <!---->
                      </div>
                    </div>
                  </div>
                  <div class="mb-lg clearfix filters">
                    <div class="pull-left wd-md" id="links">
                      <label for="">Opciones de descarga</label>
                      <a href="#"
                        >PDFS
                        <span class="fa fa-arrow-circle-o-down"></span>
                      </a>
                      <a
                        target="_blank"
                        href="https://api.kubox.mx/v2/factura/descargaMasiva?folio=&amp;fini=&amp;ffin=&amp;status=t&amp;tipo=f&amp;fcliente=&amp;clienteText=&amp;fempresa=4&amp;orderby=fecha&amp;orderdir=desc&amp;perpage=30&amp;page=1&amp;allData=1&amp;month=&amp;token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5rdWJveC5teC92Mi9hdXRoL2xvZ2luIiwiaWF0IjoxNjE1MzEyNjU1LCJleHAiOjE2MTUzMzQyNTUsIm5iZiI6MTYxNTMxMjY1NSwianRpIjoiTmZkNHFHZmRCSVl6R0x5aiIsInN1YiI6NDQyNCwicHJ2IjoiODdlMGFmMWVmOWZkMTU4MTJmZGVjOTcxNTNhMTRlMGIwNDc1NDZhYSJ9.yeSbtENBNpv2748bGiGKvKBrzO9UwavOmF0mOwELors"
                        >XMLS
                        <span class="fa fa-arrow-circle-o-down"></span>
                      </a>
                      <a
                        target="_blank"
                        href="https://api.kubox.mx/v2/factura/descargaReporte?folio=&amp;fini=&amp;ffin=&amp;status=t&amp;tipo=f&amp;fcliente=&amp;clienteText=&amp;fempresa=4&amp;orderby=fecha&amp;orderdir=desc&amp;perpage=30&amp;page=1&amp;allData=0&amp;month=&amp;getXls=true&amp;token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5rdWJveC5teC92Mi9hdXRoL2xvZ2luIiwiaWF0IjoxNjE1MzEyNjU1LCJleHAiOjE2MTUzMzQyNTUsIm5iZiI6MTYxNTMxMjY1NSwianRpIjoiTmZkNHFHZmRCSVl6R0x5aiIsInN1YiI6NDQyNCwicHJ2IjoiODdlMGFmMWVmOWZkMTU4MTJmZGVjOTcxNTNhMTRlMGIwNDc1NDZhYSJ9.yeSbtENBNpv2748bGiGKvKBrzO9UwavOmF0mOwELors"
                        >EXCEL
                        <span class="fa fa-table"></span>
                      </a>
                      <a
                        target="_blank"
                        href="https://api.kubox.mx/v2/factura/descargaReporte?folio=&amp;fini=&amp;ffin=&amp;status=t&amp;tipo=f&amp;fcliente=&amp;clienteText=&amp;fempresa=4&amp;orderby=fecha&amp;orderdir=desc&amp;perpage=30&amp;page=1&amp;allData=0&amp;month=&amp;token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS5rdWJveC5teC92Mi9hdXRoL2xvZ2luIiwiaWF0IjoxNjE1MzEyNjU1LCJleHAiOjE2MTUzMzQyNTUsIm5iZiI6MTYxNTMxMjY1NSwianRpIjoiTmZkNHFHZmRCSVl6R0x5aiIsInN1YiI6NDQyNCwicHJ2IjoiODdlMGFmMWVmOWZkMTU4MTJmZGVjOTcxNTNhMTRlMGIwNDc1NDZhYSJ9.yeSbtENBNpv2748bGiGKvKBrzO9UwavOmF0mOwELors"
                        >REPORTE
                        <span class="fa fa-newspaper-o"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 mb-lg clearfix">
                  <div
                    class="pull-left wd-md fullWidth col-lg-2"
                    style="position: relative"
                  >
                    <label for="">Buscar</label>
                    <input
                      class="form-control ng-untouched ng-pristine ng-valid"
                      id="filterTable"
                      placeholder="(Serie - Folio), Folio"
                    />
                    <em class="fa fa-search cursor"></em>
                  </div>

                  <div
                    class="pull-left wd-md fullWidth col-lg-2"
                    id="searchCustomer"
                    style="position: relative"
                  >
                    <div class="form-group customSelect">
                      <label for="">Clientes </label>
                      <input
                        class="form-control ng-untouched ng-pristine ng-valid"
                        placeholder="Escribe para buscar"
                        type="text"
                      />
                      <!---->
                      <em class="fa fa-search cursor"></em>
                      <!---->
                      <!---->
                    </div>
                  </div>
                  <div class="pull-left wd-md col-lg-2" id="fromDate">
                    <label for="">Desde</label>
                    <div class="col-2">
                      <input
                        data-date-format="dd/mm/yyyy"
                        id="datepicker"
                        style="
                          height: 34px;
                          border-radius: 4px;
                          border: 1px solid #ccc;
                        "
                      />
                    </div>
                  </div>
                  <div class="pull-left wd-md col-lg-2" id="toDate">
                    <label for="">Hasta</label>
                    <div class="col-2">
                      <input
                        data-date-format="dd/mm/yyyy"
                        id="datepicker2"
                        style="
                          height: 34px;
                          border-radius: 4px;
                          border: 1px solid #ccc;
                        "
                      />
                    </div>
                  </div>

                  <div class="pull-left wd-md" id="dropdownStatus">
                    <div class="btn-group mostrar-btn col-lg-2" dropdown="">
                      <label for="">Mostrar</label>
                      <button
                        class="btn"
                        dropdowntoggle=""
                        aria-haspopup="true"
                      >
                        <strong>Todas</strong>
                        <b class="fa fa-caret-down"></b>
                      </button>
                      <!---->
                    </div>
                  </div>

                  <div class="pull-left wd-md col-lg-2" id="moreOptions">
                    <div class="btn-group mostrar-btn">
                      <button class="btn">
                        <strong>Más opciones</strong>
                      </button>
                    </div>
                  </div>
                  <div class="pull-left wd-md resetFiltros">
                    <button class="btn delete" title="Eliminar filtros">
                      <b class="fa fa-trash" style="margin-right: 10px"></b>
                      <span class="only-mobile">ELiminar filtros</span>
                    </button>
                    <toaster-container class="ng-tns-c8-3">
                      <div
                        class="ng-tns-c8-3 toast-top-right"
                        id="toast-container"
                      >
                        <!---->
                      </div>
                    </toaster-container>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 noPadding">
                  <div class="container-filters panel panel-default">
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th class="center" width="5%">Status</th>
                            <th class="center" width="5%">Timbrada</th>
                            <th width="10%">Serie - Folio</th>
                            <th class="left" width="20%">Cliente</th>
                            <th width="20%">Fecha</th>
                            <th width="20%">Versión</th>
                            <th width="20%">Total</th>
                            <th width="5%">Acciones</th>
                          </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                          <tr>
                            <!---->
                            <div class="pagination-section row">
                              <div
                                class="form-group pagination-wrap col-xs-12 col-sm-6 col-md-4 col-lg-2"
                              >
                                <td>
                                  <label class="btn-back-pagination" for="">
                                    <span
                                      class="fa fa-caret-square-o-left fa-2x"
                                    ></span>
                                  </label>
                                </td>
                                <td>
                                  <!-- <input  type="text" value="2" disabled width="10" class="ng-untouched ng-pristine ng-valid"> -->
                                  <label for="">
                                    <strong>1</strong>
                                  </label>

                                  <label for="">
                                    de
                                    <strong>1</strong>
                                  </label>
                                </td>
                                <td>
                                  <label class="btn-next-pagination" for="">
                                    <span
                                      high="30px"
                                      class="next-button fa fa-caret-square-o-right fa-2x"
                                    ></span>
                                  </label>
                                </td>
                              </div>
                            </div>
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </app-facturas>
          </div>
        </section>
      </section>
      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
        <div class="text-center">
          <p>&copy; Copyrights <strong>Dashio</strong>. All Rights Reserved</p>
          <div class="credits">
            <!--
            You are NOT allowed to delete the credit link to TemplateMag with free version.
            You can delete the credit link only if you bought the pro version.
            Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/dashio-bootstrap-admin-template/
            Licensing information: https://templatemag.com/license/
          -->
            Created with Dashio template by
            <a href="https://templatemag.com/">TemplateMag</a>
          </div>
          <a href="index#" class="go-top">
            <i class="fa fa-angle-up"></i>
          </a>
        </div>
      </footer>
      <!--footer end-->
    </section>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="http://localhost/Dashio/lib/jquery/jquery.min.js"></script>

    <script src="http://localhost/Dashio/lib/bootstrap/js/bootstrap.min.js"></script>
    <script
      class="include"
      type="text/javascript"
      src="http://localhost/Dashio/lib/jquery.dcjqaccordion.2.7.js"
    ></script>
    <script src="http://localhost/Dashio/lib/jquery.scrollTo.min.js"></script>
    <script
      src="http://localhost/Dashio/lib/jquery.nicescroll.js"
      type="text/javascript"
    ></script>
    <script src="http://localhost/Dashio/lib/jquery.sparkline.js"></script>
    <!--common script for all pages-->
    <script src="http://localhost/Dashio/lib/common-scripts.js"></script>
    <script
      type="text/javascript"
      src="http://localhost/Dashio/lib/gritter/js/jquery.gritter.js"
    ></script>
    <script type="text/javascript" src="http://localhost/Dashio/lib/gritter-conf.js"></script>
    <!--script for this page-->
    <script src="http://localhost/Dashio/lib/sparkline-chart.js"></script>
    <script src="http://localhost/Dashio/lib/zabuto_calendar.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        return false;
      });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      $("#datepicker").datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
      });
      $("#datepicker").datepicker("setDate", new Date());
      $("#datepicker2").datepicker({
        weekStart: 1,
        daysOfWeekHighlighted: "6,0",
        autoclose: true,
        todayHighlight: true,
      });
      $("#datepicker2").datepicker("setDate", new Date());
    </script>
    <script type="application/javascript">
      // $(document).ready(function () {
      //   $("#date-popover").popover({
      //     html: true,
      //     trigger: "manual",
      //   });
      //   $("#date-popover").hide();
      //   $("#date-popover").click(function (e) {
      //     $(this).hide();
      //   });

      //   $("#my-calendar").zabuto_calendar({
      //     action: function () {
      //       return myDateFunction(this.id, false);
      //     },
      //     action_nav: function () {
      //       return myNavFunction(this.id);
      //     },
      //     ajax: {
      //       url: "show_data.php?action=1",
      //       modal: true,
      //     },
      //     legend: [
      //       {
      //         type: "text",
      //         label: "Special event",
      //         badge: "00",
      //       },
      //       {
      //         type: "block",
      //         label: "Regular event",
      //       },
      //     ],
      //   });
      // });
    </script>
  </body>
</html>
